img{
	width: 130px;
	height: auto;
}

header {
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 15.5px;
}

a:link {
	text-decoration: none;
}

body {
	background-image: url('Screenshot\ 2021-10-04\ at\ 3.25.38\ PM.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	color: white;
	font-family: Verdana, Tahoma, sans-serif;
}

#text1 {
	position: relative;
	top: 130px;
	font-size: 35px;
	font-family: 'Mexcellent';
}

#text2 {
	position: relative;
	top: 100px;
	font-size: 25px;
}

#button {
	background-color: magenta;
	border-radius: 60px;
	padding: 15px 20px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	position: relative;
	top: 100px;
	left: 625px;
  }

#navbar {
	position: absolute;
	left:1010px;
	bottom: 770px;
}

#navbar2 {
	position: absolute;
	left:1090px;
	bottom: 770px;
}

#navbar3 {
	position: absolute;
	left:1175px;
	bottom: 770px;
}

#navbar4 {
	position: absolute;
	left:1300px;
	bottom: 770px;
}

