/* * {
    box-sizing: border-box;
  } */
    
  .column {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 20px 10px;
    background: #E8E8E8;
    border-radius: 20px;
    padding-bottom: 20px;
  }
  
  /* .row::after {
    content: "";
    clear: both;
    display: table;
  } */
    
  .pic img{
      width: 100%;
      height: 250px;
      border-radius: 20px;
  }
  
  body{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  
  #navbar {
      position: absolute;
      left:1010px;
      bottom: 770px;
  }
  
  #navbar2 {
      position: absolute;
      left:1090px;
      bottom: 770px;
  }
  
  #navbar3 {
      position: absolute;
      left:1175px;
      bottom: 770px;
  }
  
  #navbar4 {
      position: absolute;
      left:1300px;
      bottom: 770px;
  }
  
  #logo img{
      width: 130px;
      height: auto;
  }
  
  .button { 
    display:inline-block;
    outline: none;
    border: 0;
    font-size: 16px;
    text-align: center;
    border-radius: 70px;
    background: #f700ff; 
    color: #ffffff;
    padding: 10px;
    transition-duration: 0.4s;
    margin-top: 20px;
}

  a.button:hover {
    cursor: pointer;
    background-color:  rgb(155, 134, 158);
    color:  rgb(0, 0, 0);
}
