* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 30%;
    padding-right: 0px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .pic {
    padding: 50px;
  }

  body{
      background-color: black;
  }