@import url('http://fonts.cdnfonts.com/css/mexcellent'); 

.container {
    width: 100%;
    max-width: 1700px;
    margin: 0 auto; 
}

.main_c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    float: left;
}

nav {
    float: right;
    margin: 35px
}
  
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 10px
}
 
a{
    text-decoration: none;
}

h4{
  text-decoration: none;
  font-family: 'Mexcellent';
  color: white;
}
  
.container:after {
    content: "";
    display: table;
    clear: both;
}
  
body{
    background-color: #000;
}

.logo{
    height: 150px;
    width: 300px;
}

#text1 {
	font-size: 35px;
	font-family: 'Mexcellent';
}

#text2 {
	font-size: 25px;
}

#button {
	background-color: magenta;
	border-radius: 60px;
    height: 70px;
    width: 310px;
  }
#text2>h2 {
    margin: 20px;
    padding-bottom: 20px;
    text-align: center; 
    color: white;
  }
#text1>h1 {
    margin: 20px;
    text-align: center; 
    color: white;
  }

.main {

}
