/* * {
    box-sizing: border-box;
  } */
    
  .column {
    display: grid;
    width: 20%;
    height: 40%;
    text-align: center;
    margin: 20px 10px;
    background: #fcfcfc;
    border-radius: 20px;
    padding-bottom: 20px;
    grid-template-columns: 25% 50% 25%;
  }
  
  /* .row::after {
    content: "";
    clear: both;
    display: table;
  } */
    
  .pic img{
      width: 50%;
      height: auto;
      border-radius: 20px;
  }
  
  body{
    background-color: black;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  
    .container {
      width: 100%;
      max-width: 1700px;
      padding: 0 15px;
      margin: 0 auto;
  }
   .logo {
      float: left;
    }
    nav {
      float: right;
      margin: 35px
    }
    nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    nav li {
      display: inline-block;
      margin: 10px
    }
    a{
      
      text-decoration: none;
    }
    .container:after {
      content: "";
      display: table;
      clear: both;
    }

    .logo{
      height: 150px;
      width: 300  px;
    }
  
  .button { 
    display:inline-block;
    width: 100px;
    outline: none;
    border: 0;
    font-size: 16px;
    text-align: center;
    border-radius: 70px;
    background: #EC56F7; 
    color: #ffffff;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    transition-duration: 0.4s;
    margin-top: 20px;
    grid-column: 2;
}

  a.button:hover {
    cursor: pointer;
    background-color:  rgb(155, 134, 158);
    color:  rgb(0, 0, 0);
}
